[submodule "darknet_ros/src/darknet"]
	path = darknet_ros/src/darknet
	url = https://github.com/AlexeyAB/darknet
[submodule "indy-ros"]
	path = indy-ros
	url = https://github.com/neuromeka-robotics/indy-ros
[submodule "indy-ros-examples"]
	path = indy-ros-examples
	url = https://github.com/neuromeka-robotics/indy-ros-examples
[submodule "indy7_moveit"]
	path = indy7_moveit
	url = https://github.com/ros-planning/moveit_tutorials.git
